unpackaged/main/default/flows/FS_updateBadgeAwardedDate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Awarded_Date</name>
        <label>Awarded Date</label>
        <locationX>461</locationX>
        <locationY>327</locationY>
        <assignmentItems>
            <assignToReference>$Record.OrderApi__Awarded_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OrderApi__Item__r.OrderApi__Revenue_Recognition_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>ItemClassName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Section Renewal Dues</stringValue>
        </value>
    </constants>
    <decisions>
        <name>GetBadgesRecords</name>
        <label>GetBadgesRecords</label>
        <locationX>517</locationX>
        <locationY>145</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckingbadgeCondition</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OrderApi__Item__r.OrderApi__Item_Class__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ItemClassName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Awarded_Date</targetReference>
            </connector>
            <label>CheckingbadgeCondition</label>
        </rules>
    </decisions>
    <interviewLabel>FS_updateBadgeAwardedDate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FS_updateBadgeAwardedDate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetBadgesRecords</targetReference>
        </connector>
        <object>OrderApi__Badge__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
